<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='robots' content='index, follow'>
    <meta name='author' content='Petro Pavliuk'>
    <meta name='description' content='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid atque enim soluta harum explicabo nam adipisci blanditiis autem quibusdam nulla!
       Consequatur aliquam quidem error sit natus nam accusamus excepturi consectetur.'>
    <meta property='og:title' content='Blogs' />
    <meta property='og:description' content='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid atque enim soluta harum explicabo nam adipisci blanditiis autem quibusdam nulla!
       Consequatur aliquam quidem error sit natus nam accusamus excepturi consectetur.' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='' />
    <meta property='og:image' content='img/favicon/apple-touch-icon.webp' />
    <link rel="stylesheet" href="css/normalize/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Page not found</title>
</head>
<body class="body404">
    <div class="container_404">
        <h2 class="title_404">Oops!!</h2>
        <p class="text_404">404 - Page not found</p>
        <img src="./img/lost.png" alt="Lost image" class="lost-image_404" />
        <a href="/" class="btn_404">Take me to homepage</a>
        <div class="fill-up_404"></div>
    </div>
</body>
</html>